{% extends "base.html.twig" %}
{#{% import 'macros/macros.html.twig' as mcr %}#}

{% block body %} <h2>Welcome to Bucket-List Home !</h2>
{#    {{ mcr.headerLink('main_home',"home_test")}}#}
{% endblock %}
{% block title %}{{ title }}{% endblock %}
